body
{
    margin: 0;
    padding: 0;
}
.box1
{
    height: 100vh;
    width: 100%;
    background-image: url('images/river.jpg');
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box2
{
    height: 100vh;
    width: 100%;
    background-image: url('images/mountainns.jpg');
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;


}

.box3
{
    height: 100vh;
    width: 100%;
    background-image: url('images/smog.jpg');
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;


}

h1{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 100px;
    margin: 0px;
    color: aliceblue;
    display: table-cell;
    vertical-align: middle;
    scroll-behavior: smooth;
}
